.footer-content {
    color: white;
}

.footer {
    margin-left: 50px;
    background: black;
    
    height: auto; 
    padding: 50px 0px; 
    margin-top: 400px;
}

.footer a:hover {
    color: #19B3D3;
}
