
.sidebar {
    background: black;
    padding-top: 50px;
    position: fixed;
    left: 0;
    width: 60px;
    height: 100%;
    transition: 100%;
    transition-property: right;
}

#check:checked ~ .sidebar {
    left: 0px;
    width: 250px;
}

#check:checked ~ .sidebar center {
    left: 0px;
    width: 250px;
    display: block;
}

#check:checked ~ .sidebar a span{
    display: inline-block;
}

#check:checked ~ .sidebar a {
    font-size: 17px;
    padding-left: 70px;
}

#check:checked ~ .content {
    padding-left: 150px;
}
#check:checked ~ .sidebar .scrollable {
    margin-top: 0;
}

#check:checked ~ footer {
  margin-left: 150px;
}

.sidebar .scrollable {
    margin-top: 225px;
}

.sidebar .profile_image {
    width: 100px;
    height:  100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4 {
    color: white;
    margin-top: 0;
    margin-bottom: 40px;
}

.sidebar center {
    display: none;
}

.sidebar span {
    display: none;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
  text-decoration: none;
  color: white;
  background: #19B3D3;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  padding-top: 1px;
  color: white;
  position: fixed;
  cursor: pointer;
  left: 17px;
  top: 21px;
  font-size: 20px;
  transition: 0.5s;
  transition-property: color;
}  

label #sidebar_btn:hover {
  z-index: 1;
  color: #19B3D3;
}


.content {  
  padding-top: 150px;
  width: 1200px;
  margin-left: 200px;
  height: 100%;
  transition: 0.5s;
}

.navImg {
  margin-left: 40px; 
  margin-right: 5px;
}

.footer-content {
  color: white;
}

.footer {
  background: black;
  height: auto;
  padding: 50px 0px;
  margin-top: 50px;
}

.footer a:hover {
  color: #19b3d3;
}

#check {
  display: none;
}

#myBrand {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  color: white;
  transition: 0.3s;
  transition-property: color;
}

#myBrand:hover {
  color: #19B3D3;
}

#font {
  font-family: 'Pacifico', cursive;
}


#myNav {
  padding-top: 15px;
  height: 9.5%;
  background-color: black;
  color: white;
  padding-bottom: 20px; 
}

#bottom {
  display: block;
}

#myInput {
  width: 78%;
  margin-bottom: 10px;
}

form .filter_btn {
  margin-bottom: 10%;
}

.home{
  font-family: 'Playball', cursive;
}

/* Navbar and sidebar styling end */

@media(max-width:1367px){

  .sidebar {
    padding-top: 20px;
  }

  #check:checked ~ .sidebar {
    padding-top: 50px;
  }

  .container{
    margin-left:-75px;
  }
}

/* Styling for mobile size */

@media (max-width: 1040px) {

  .content {
    margin-left: 100px;
    width: 330px;
  }

  .container{
    width:360px;
  }

  .sidebar {
    display: none;
    width: 0px;
  }

  #check:checked ~ .sidebar {
    display: block;
    width: 100%;
  }

  #check:checked ~ .content {
    display: none;
  }

  #check:checked ~ .footer {
    display: none;
  }

  #check:checked ~ .sidebar center {
    display: block;
    margin-left: 80px;
  }

  #check:checked ~ .sidebar a {
    padding-left: 170px;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  #myNav {
    padding-top: 0px;
    height: 70px;
  }

  .navbar-brand {
    padding-top: 0.6525rem;
  }

  #myInput {
        width: 78%;
        margin-bottom: 10px;
  }

  #myForm {
        display: none;
  }

  #bottom {
        display: block;
  }

  label #sidebar_btn {
        left: 14px;
  }

  .footer {
    margin-top: 100px;
    margin-left: -50px;
    width: 500px;
  }

}